<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'weba/t1.css' %}">
</head>
<body>

<h1 id="login-header">GOOD LOGIN</h1>
<h2 class="blacks">BACLKKKK</h2>
<form method="get" action="{% url "status" %}">
    <label>
        USER
        <input type="text" value="user" name="user"/>
    </label>

    <label>
        Password
        <input type="password" value="password" name="password"/>
    </label>

    <label>
        good
        <label>
            <input type="radio" name="sex" value="man" label="a">
            MAN
        </label>
        <label>
            <input type="radio" name="sex" value="woman" label="b">
            WOMAN
        </label>
    </label>
    <input type="submit" value="SUBMIT">
</form>
</body>
</html>